services:
  ollama:
    image: ollama/ollama:latest
    container_name: ollama
    ports:
      - "11434:11434"
    volumes:
      - ./ollama_data:/root/.ollama # Persist Ollama data in the local directory "./ollama_data"
    environment:
      - EXAMPLE_PARAMETER=qwerty
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]

  open-webui:
    image: ghcr.io/open-webui/open-webui:main
    container_name: open-webui
    restart: always
    ports:
      - "3000:8080"
    environment:
      - OLLAMA_BASE_URL=http://ollama:11434
    volumes:
      # Map to Windows directory for persistent storage
      - ./open_webui_data:/app/backend/data
    extra_hosts:
       - "host.docker.internal:host-gateway"
    depends_on:
      - ollama
